<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lge.d3.screenrecorder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.lge.d3.screenrecorder.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lge.d3.screenrecorder.VideoFragment"
            android:label="@string/title_section1" >
        </activity>
        <activity
            android:name="com.lge.d3.screenrecorder.OptionsFragment"
            android:label="@string/title_section2" >
        </activity>

        <service
            android:name="com.lge.d3.screenrecorder.RecordService"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" >
        </service>
        
    </application>

</manifest>